# Byte‑compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
coverage.xml
.coverage

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Env files
.env
.env.*

# OS temp files
*.swp

# Data
data