# Core packages
numpy
pandas
pandas-stubs
scipy
seaborn
jupyter
ipykernel

# Remote sensing & GIS
earthengine-api  # Google Earth Engine
geemap
rasterio
geopandas
shapely
folium
pyproj
rioxarray>=0.14.1
xarray>=2022.9.0
xarray-spatial>=0.2.4

# STAC & planetary computer
# planetary-computer>=0.1.0
# stac-client>=1.4.0

# Analysis & visualization
matplotlib>=3.4.0
plotly>=5.3.0
statsmodels>=0.13.0
scikit-learn>=1.0.0

# Machine learning & forecasting
#prophet>=1.1.1
xgboost>=1.5.0
# Pick your DL backend:
#torch>=1.11.0
# tensorflow>=2.9.0

# Optional but useful
tqdm  # Progress bars
types-requests
# landlab>=1.0.0
# pysheds>=0.6.0
# fastapi>=0.75.0
# streamlit>=1.10.0